<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto ">
      <div class="card-header my-5">
        <h3 class="card-title text-center">Cadastrar</h3>

        <form (ngSubmit)="f.form.valid && registerUser()" #f="ngForm">

          <div class="mb-3">
            <label for="name">Nome</label>
            <input type="text" [(ngModel)]="users.name" name="email" class="form-control" id="name"
              placeholder="Digite o Nome" required>
            <div class="invalid-feedback">
              Please enter your shipping address.
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Email</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" [(ngModel)]="users.email" name="email" class="form-control" id="email"
                placeholder="you@example.com" required>
              <div class="invalid-feedback" style="width: 100%;">
                Your username is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="password">Senha <span class="text-muted"></span></label>
            <input type="password" [(ngModel)]="users.password" name="password" class="form-control" id="password"
              placeholder="Digite a Senha" required>
            <div class="invalid-feedback">
              Please enter a valid email address for shipping updates.
            </div>
          </div>
          <hr class="mb-4">
          <div class="mx-auto" style="width: 150px;">
            <button class="btn btn btn-primary btn-lg" type="submit">Cadastre-se</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>